/* 
author: andi sultan
--------------------------------
/* css reset  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 2. typography  */
*, 
:after, 
:before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #252525;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 15px;
  color: inherit;
}

h1 { font-size: 36px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

strong { font-weight: bold; }
a, a:hover { color: inherit; text-decoration: none; -webkit-transition: all .5s; transition: all .5s; }
a:hover,
a:active,
a:focus {
  color: #404040;
}
p { line-height: 1.5;}
img { max-width: 100%; }
li { line-height: 1.5 }
ul { margin-top: 5px; margin-left: 15px; }
ul { list-style-type: disc; }
hr {
  margin-top: 20px;
  border: solid 1px #e0e0e0;
}

@media(min-width: 769px) {
  .flex {
    display: -ms-flexbox;
    display: flex;
  }
  .flex--space-between {
    justify-content: space-between;
  }
}

.ls-2 {
  letter-spacing: 2px;
}

.fs-10 { font-size: 10px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-20 { font-size: 20px; }
.fs-28 { font-size: 28px; }
.fs-32 { font-size: 32px; }

.fw-300 { font-weight: 300; }
.fw-500 { font-weight: 500; }

.text-center { text-align: center; }

.no-padding { padding: 0 !important; }



/* Loading - Start */
.loading {
  display: inline-block;
  position: relative;
  top: 220px;
  left: 47%;
  width: 64px;
  height: 64px;
}
.loading div {
  position: absolute;
  border: 4px solid #18ba62;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loading {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .loading {
    left: 43%;
  }
}

.cssload-wrap {
	width: 80px;
	height: 80px;
	margin: 40px auto;
	position: relative;
	perspective: 1600px;
		-o-perspective: 1600px;
		-ms-perspective: 1600px;
		-webkit-perspective: 1600px;
		-moz-perspective: 1600px;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-circle {
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	opacity: 0;
	width: 80px;
	height: 80px;
	border: 1px solid rgba(24,186,98,0.79);
	border-radius: 60px;
	position: absolute;
	top: 220px;
	left: 0;
	animation: cssload-spin 18s ease-in-out alternate infinite;
		-o-animation: cssload-spin 18s ease-in-out alternate infinite;
		-ms-animation: cssload-spin 18s ease-in-out alternate infinite;
		-webkit-animation: cssload-spin 18s ease-in-out alternate infinite;
		-moz-animation: cssload-spin 18s ease-in-out alternate infinite;
}
.cssload-circle:nth-of-type(1) {
	animation-delay: 300ms;
		-o-animation-delay: 300ms;
		-ms-animation-delay: 300ms;
		-webkit-animation-delay: 300ms;
		-moz-animation-delay: 300ms;
}
.cssload-circle:nth-of-type(2) {
	animation-delay: 600ms;
		-o-animation-delay: 600ms;
		-ms-animation-delay: 600ms;
		-webkit-animation-delay: 600ms;
		-moz-animation-delay: 600ms;
}
.cssload-circle:nth-of-type(3) {
	animation-delay: 900ms;
		-o-animation-delay: 900ms;
		-ms-animation-delay: 900ms;
		-webkit-animation-delay: 900ms;
		-moz-animation-delay: 900ms;
}
.cssload-circle:nth-of-type(4) {
	animation-delay: 1200ms;
		-o-animation-delay: 1200ms;
		-ms-animation-delay: 1200ms;
		-webkit-animation-delay: 1200ms;
		-moz-animation-delay: 1200ms;
}
.cssload-circle:nth-of-type(5) {
	animation-delay: 1500ms;
		-o-animation-delay: 1500ms;
		-ms-animation-delay: 1500ms;
		-webkit-animation-delay: 1500ms;
		-moz-animation-delay: 1500ms;
}



@keyframes cssload-spin {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}

@-o-keyframes cssload-spin {
	0% {
		-o-transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		-o-transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		-o-transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		-o-transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		-o-transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}

@-ms-keyframes cssload-spin {
	0% {
		-ms-transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		-ms-transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		-ms-transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		-ms-transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		-ms-transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}

@-webkit-keyframes cssload-spin {
	0% {
		-webkit-transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		-webkit-transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		-webkit-transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		-webkit-transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		-webkit-transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}

@-moz-keyframes cssload-spin {
	0% {
		-moz-transform: rotateY(0deg) rotateX(0deg);
		opacity: 1;
	}
	25% {
		-moz-transform: rotateY(180deg) rotateX(360deg);
	}
	50% {
		-moz-transform: rotateY(540deg) rotateX(540deg);
	}
	75% {
		-moz-transform: rotateY(720deg) rotateX(900deg);
	}
	100% {
		-moz-transform: rotateY(900deg) rotateX(1080deg);
		opacity: 1;
	}
}
/* Loading - End */



/* Row - Start */
.fazz-row:before, 
.fazz-row:after {
  content: " ";
  display: table;
}
.fazz-row:after {
  clear: both;
}

.fazz-row {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fazz-row--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.fazz-row--middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media(max-width: 768px){
  .fazz-row-mobile-2>[class^="fazz-col"] {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fazz-row-mobile-3>[class^="fazz-col"] {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .fazz-row-mobile-4>[class^="fazz-col"] {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media(min-width: 1025px) and (max-width: 1280px){
  .fazz-row-laptop-2>[class^="fazz-col-"] {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fazz-row-laptop-3>[class^="fazz-col-"] {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .fazz-row-laptop-4>[class^="fazz-col-"] {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
/* Row - End */


/* Col - Start */
.fazz-col,
[class^="fazz-col-"],
[class*=" fazz-col-"] {
  -webkit-box-flex: 0;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media(min-width: 769px){
  .fazz-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .fazz-col-1 { 
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .fazz-col-2 { 
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .fazz-col-3 { 
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fazz-col-4 { 
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .fazz-col-5 { 
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .fazz-col-6 { 
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fazz-col-7 { 
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .fazz-col-8 { 
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .fazz-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .fazz-col-10 { 
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .fazz-col-11 { 
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .fazz-col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}
/* Col - End */



/* fazz-main - Start */
.fazz-main {
  min-height: 100vh;
}
.fazz-main>div {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 1440px;
}
/* fazz-main - End */

/* fazz-nav - Start */
.fazz-nav {
  display: none;
}

@media(max-width: 1024px){
  .fazz-nav {
    display: block;
    padding: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 98;
    width: 100%;
  }
}
/* fazz-nav - End */

/* fazz-aside */
.fazz-aside {
  width: 314px;
  box-shadow: 2px 2px 14px 0 rgba(205, 218, 245, 0.32);
  background-color: #ffffff;
  position: relative;
  z-index: 3;
}
.fazz-aside img {
  position: fixed;
  left: 73px;
  margin: 50px auto 30px auto;
  display: block;
}
.fazz-aside__menu {
  position: fixed;
  overflow-y: scroll;
  top: 97px;
  bottom: 20px;
  width: 288px;
}
.fazz-aside li {
  display: block;
  padding: 10px 50px;
}
.fazz-aside a {
  color: #787f8d;
}
.fazz-aside a:hover,
.fazz-aside a:focus,
.fazz-aside a:active,
.fazz-aside .active > a {
  color: #000000;
  font-weight: 500;
}
.fazz-aside__sub-menu {
  border-left: 2px solid #ebebeb;
  margin: 30px 0;
  display: none;
}
.fazz-aside__sub-menu.open { display: block; }
.fazz-aside__sub-menu li {
  display: block;
  padding: 0;
}
.fazz-aside__sub-menu a {
  position: relative;
  padding: 13px 24px;
  display: block;
}
.fazz-aside__sub-menu .active a {
  font-weight: 500;
}
.fazz-aside__sub-menu a:hover:after,
.fazz-aside__sub-menu .active a:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  left: -2px;
  top: 0;
  background: #000000;
}

@media(max-width: 1024px){
  .fazz-aside{
    background: #fff;
    display: block;
    position: fixed;
    z-index: 99;
    top: 0;
    left: -30%;
    bottom: 0;
    width: 30%;
    transition: left 0.3s linear;
  }
  .fazz-aside.open {
    left: 0;
    transition: left 0.3s linear;
  }
  .fazz-aside img {
    position: initial;
  }
  .fazz-aside__menu { width: 25%; }

  .fazz-nav__toogle {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    padding: 5px 0;
    margin-left: 8px;
  }
  .fazz-nav__toogle span {
    display: block;
    height: 2px;
    background: #000000;
    width: 100%;
  }
  .fazz-nav__toogle span:after,
  .fazz-nav__toogle span:before {
    content: '';
    position: absolute;
    height: 2px;
    background: #000000;
    width: 100%;
    bottom: 5px;
  }
  .fazz-nav__toogle span:before {
    top: 50%;
    width: 100%;
  }
  
  .fazz-nav__brand {
    position: relative;
    top: 5px;
    left: 24px;
  }

  .fazz-nav__brand .fazz-brand-img { height: 17px; }
}

@media(max-width: 768px){
  .fazz-aside{
    left: -50%;
  }
  .fazz-aside.open {
    width: 50%;
  }
  .fazz-aside__menu { width: 45%; }
}

@media(max-width: 425px){
  .fazz-aside{
    left: -75%;
  }
  .fazz-aside.open {
    width: 75%;
  }
  .fazz-aside__menu { width: 70%; }
}

/* .fazz-content */
.fazz-content {
  padding: 50px;
}

.home-before-title {
  font-size: 22px;
}

/* .fazz-tabs */
.fazz-tabs__tab {
  margin-top: 10px;
  margin-right: 40px;
  color: #6e7b8a;
  display: inline-block;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.fazz-tabs__tab:hover, .fazz-tabs__tab.active {
  background: none;
  border-bottom: 2px solid #05182f;
  font-weight: 500;
  color: #05182f;
}
.fazz-tabs__content {
  padding: 20px;
}

@media(max-width: 768px){
  .fazz-content {
    padding: 70px 30px 30px;
  }
  .fazz-tabs__tab {
    margin-right: 12px;
  }
}



/* homepage */
.home-hero {
  position: relative;
  align-items: center;
  margin-bottom: 60px;
}
.home-hero__text { font-family: Montserrat; }
@-webkit-keyframes underline {
  from {width: 0%;}
  to {width:100%}
}
#underlined_text {
  position: absolute;
  color: transparent;
  top: 0;
}
.underlined-text--1::after {
  content: '';
  display: block;
  height: 6px;
  width: 0px;
  background: #3b8ef3;  
  animation-name: underline;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: relative;
  top: -12px;
  z-index: -1;
}
.underlined-text--2 { display: inline-block; }
.underlined-text--2::after {
  content: '';
  display: block;
  height: 6px;
  width: 0px;
  background: #3b8ef3;
  animation-name: underline;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: relative;
  top: -12px;
  z-index: -1;
}

.home-hero h1 {
  font-size: 60px;
  font-weight: bold;
}
.home-hero img {
  width: 100%;
  max-width: 633px;
}
.home-category img {
  position: relative;
  max-width: 100px;
  max-height: 100px;
}
@media(min-width: 769px){
  .home-hero__text {
    position: relative;
    z-index: 1;
    max-width: 687px;
    margin: 50px;
  }
  .home-hero {
    height: 430px;
  }
  .home-hero img {
    position: absolute;
    right: -50px;
    top: 30px;
  }

  .home-category { margin: 50px; }
  .home-category img { top: 15%; }
}
.home-category__item {
  max-width: 95%;
  border-radius: 4px;
  box-shadow: 2px 2px 14px 0 rgba(205, 218, 245, 0.32);
  background-color: #ffffff;
  padding: 25px;
  transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out;
}
.home-category__item--atom { float: right; }
.home-category__item:hover {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}
.home-category__item__text {
  width: calc(100% - 100px);
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.87);
}
.home-category__item__text h6,
.home-category__item__text h2 {
  margin: 0;
}
.home-category__item__text h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: bold;
}
.home-category__item__text p {
  margin-top: 5px;
}
@media(max-width: 768px){
  .home-hero h1 { font-size: 33px; }
  .home-hero__text { margin-bottom: 20px; }
  .home-category__item__text h2 { font-size: 24px; }

  .home-category__item {
    max-width: 100%;
    padding: 25px;
    margin-top: 30px;
  }
  .home-category__item:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  .home-category__item__text {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
}



/* Card */
.card {
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 10px 0;
}
.card:hover {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}
.card__title,
.card__code,
.card__addon {
  display: block;
  line-height: 1.3;
}
.card__title {
  font-size: 12px;
  margin-bottom: 10px;
}
.card__code {
  font-size: 18px;
  font-weight: 500;
}
.card__addon {
  font-family: Roboto;
  font-size: 12px;
}
.card--big {
  padding: 24px; 
}
.card--big .card__title {
  font-size: 16px;
  font-weight: 500;
}
.card--big .card__code {
  font-size: 30px;;
}
.card--big .card__addon {
  margin-top: 7px;
}


/* article */
.article p {
  margin-bottom: 20px;
}
.article__img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 375px;
}
.anatomy-section .article__img { max-width: unset; }
.article__img-arrow {
  max-width: unset;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s;
}
.anatomy-section:hover .article__img-arrow {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1s;
}
.article__img--wide {
  width: 100%;
  max-width: 780px;
}
.article__title-menu + .article__img,
.article p + .article__img {
  margin-top: 0;
}
.article__before-title {
  margin-bottom: 0;
}
.article__title {
  margin-top: 0;
}
@media(min-width: 769px){
  .article--container {
    padding-right: 100px;
  }
  .article__title {
    margin-bottom: 50px;
  }
}
.article__title-menu {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}
.article__content {
  padding-left: 15px;
}

.evaluation {
  background: #f2f4f5;
  padding: 38px 26px 30px 20px; 
  margin: 0;
  max-width: 666px;
}
.evaluation li {
  display: inline-block;
}
.evaluation li + li {
  margin-left: 20px;
}
.evaluation__item {
  padding: 17px 30px;
  background-color: #ffffff;
  font-size: 14px;
  display: block;
}
.evaluation__item:hover {
  -webkit-box-shadow: 2px 4px 5px 0px rgba(193,195,196,1);
  -moz-box-shadow: 2px 4px 5px 0px rgba(193,195,196,1);
  box-shadow: 2px 4px 5px 0px rgba(193,195,196,1);
  -ms-transform: translateX(-2px) translateY(-4px);
  transform: translateX(-2px) translateY(-4px);
  transition: 0.5s;
}
.evaluation__item--2 {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(193,195,196,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(193,195,196,1);
  box-shadow: 2px 2px 5px 0px rgba(193,195,196,1);
  margin-bottom: 2px;
}
.evaluation__item--2:hover {
  -webkit-box-shadow: 4px 6px 5px 0px rgba(193,195,196,1);
  -moz-box-shadow: 4px 6px 5px 0px rgba(193,195,196,1);
  box-shadow: 4px 6px 5px 0px rgba(193,195,196,1);
}
.evaluation__item--4 {
  -webkit-box-shadow: 2px 4px 5px 0px rgba(193,195,196,1);
  -moz-box-shadow: 2px 4px 5px 0px rgba(193,195,196,1);
  box-shadow: 2px 4px 5px 0px rgba(193,195,196,1);
  margin-bottom: 4px;
}
.evaluation__item--4:hover {
  -webkit-box-shadow: 4px 8px 5px 0px rgba(193,195,196,1);
  -moz-box-shadow: 4px 8px 5px 0px rgba(193,195,196,1);
  box-shadow: 4px 8px 5px 0px rgba(193,195,196,1);
}
.evaluation__item--8 {
  -webkit-box-shadow: 2px 8px 5px 0px rgba(193,195,196,1);
  -moz-box-shadow: 2px 8px 5px 0px rgba(193,195,196,1);
  box-shadow: 2px 8px 5px 0px rgba(193,195,196,1);
  margin-bottom: 8px;
}
.evaluation__item--8:hover {
  -webkit-box-shadow: 4px 12px 5px 0px rgba(193,195,196,1);
  -moz-box-shadow: 4px 12px 5px 0px rgba(193,195,196,1);
  box-shadow: 4px 12px 5px 0px rgba(193,195,196,1);
}

@media(max-width: 768px) {
  .evaluation li {
    width: 100%;
    text-align: center;
    margin: 12px 0;
  }
  .evaluation li + li { margin-left: 0; }
}


@keyframes shimmy {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(5px, 10px);
  }
}

/* foundation - Typography */
.font-design {	
  position: relative;
  max-width: 801px;
  padding: 20px 40px;
  display: block;
  padding-right: 200px;
}	
.font-design__text {
  font-family: Roboto;
  font-size: 100px;
  font-weight: bold;
  color: #000000;
}	
.font-design__line {
  position: absolute;
  left: 10px;
  width: 0;
  height: 1px;
  background: #b620e0;
  visibility: hidden;
}
.font-design:hover .font-design__line {
  visibility: visible;
  width: calc(100% - 200px);
  transition: width 1.5s;
}
/* .font-design:hover .font-design__line--1,
.font-design:hover .font-design__line--4 {
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0s;
}
.font-design:hover .font-design__line--2,
.font-design:hover .font-design__line--3 {
  visibility: visible;
  transition: visibility 0.3s linear 0.3s, opacity 0.3s;
} */
.font-design__line:before{
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #b620e0;
}	
.font-design__line--1 {
  top: 26px;
}
.font-design__line--2 {
  top: 45.5px;
}
.font-design__line--3 {
  bottom: 34.5px;
}
.font-design__line--4 {
  bottom: 14px;
}
.font-design__line span {
  position: absolute;
  right: -112px;
  text-align: left;
  top: -6px;
  font-size: 14px;
  font-weight: 300;
  width: 100px;
  visibility: hidden;
}
.font-design:hover .font-design__line span {
  visibility: visible;
  transition: visibility 1.5s linear 1.5s, opacity 1.5s;
}
.font-weight {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 60px;
}
.font-weight__item {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}
.font-weight__item:last-child { margin-bottom: 0; }
.font-weight__box {
  font-size: 64px;
  border: solid 1px #e5e5e5;
  padding: 52px 92px;
  margin-bottom: 20px;
}
.font-example__img:hover,
.font-weight__box:hover,
.font-condition__box img:hover {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  transition: 0.5s;
}

.font-condition {
  margin-top: 20px;
  margin-bottom: 60px;
}
.font-condition__box {
  width: 100%;
  max-width: 380px;
}
.font-condition__box img { margin-bottom: 20px; }

.font-size {
  list-style: none;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-top: 40px;
}
.font-size li {
  padding: 24px;
}
.font-size li + li {
  border-top: 1px solid #e5e5e5;
}
.font-size li:hover {
  border: 1px solid #787f8d;
  transition: 0.5s;
}
.font-size p { margin-bottom: 0; }
.font-size h3 { font-size: 48px; }
.font-size h4 { font-size: 32px; }
.font-size h5 { font-size: 24px; }
.font-size h6 { font-size: 20px; }

@media(min-width: 769px) {
  .font-design__img { margin-left: 84px; }
  .font-example__img { margin-left: 20px; }

  .font-weight__item + .font-weight__item { 
    margin-left: -1px;
  }
  .font-condition { margin-left: 20px; }
}

@media(max-width: 768px) {
  .font-design { padding: 20px 10px; }
  .font-design__text {
    font-size: 32px;
  }
  .font-design__line {
    left: 0;
  }
  .font-design:hover .font-design__line {
    visibility: visible;
    width: 192px;
    transition: width 1.5s;
  }
  .font-design__line--1 { top: 21.3px; }
  .font-design__line--2 { top: 27.5px; }
  .font-design__line--3 { bottom: 24px; }
  .font-design__line--4 { bottom: 17px; }
  .font-design__line span {
    width: 40px;
    font-size: 8px;
    top: -3px;
    right: -45px;
  }
  .font-weight__box {
    padding: 52px 70.5px;
  }

  .font-size h3 { font-size: 32px; }
  .font-condition__box:first-child { margin-bottom: 40px; }
}

/* General */
.box--shadowed:hover {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
  -ms-transform: translateX(-4px) translateY(-4px);
  transform: translateX(-4px) translateY(-4px);
  transition: 0.5s;
}
.anatomy-section {
  position: relative;
  margin-top: -20px;
  max-width: 375px;
}
.anatomy-section--wide {
  max-width: 750px;
}
.indent-20 { margin-left: 20px; }
.indent-40 { margin-left: 40px; }
.indent-60 { margin-left: 60px; }

.atom-container { margin-top: 40px; }
.atom-sub-title {
  margin-top: 20px;
  margin-bottom: 20px;
}



/* Atom - Button */
.button__img-arrow--1 {
  top: 21%;
  left: 49.5%;
  width: 86%;
}
.button__img-arrow--2 {
  top: 33%;
  left: 1.5%;
  width: 134%;
}
.button__img-arrow--3 {
  top: 21.5%;
  left: 50%;
  width: 91%;
}
.button__img-arrow--4 {
  top: 47%;
  left: 20%;
  width: 100%;
}
.button__img-arrow--5 {
  top: 27%;
  left: 8.8%;
  width: 151.5%;
}
.button__img-arrow--6 {
  top: 23%;
  left: 64.7%;
  width: 73%;
}
.button__img-arrow--7 {
  top: 11.3%;
  left: 59.3%;
  width: 72%;
}
.button__img-arrow--8 {
  top: 22%;
  left: 61%;
  width: 70%;
}
.button__img-arrow--9 {
  top: 33%;
  left: 13.6%;
  width: 121%;
}
.button__img-arrow--10 {
  top: 31.2%;
  left: 13.5%;
  width: 78%;
}
.button__img-arrow--11 {
  top: 47%;
  left: 40%;
  width: 85%;
}
.button__img-arrow--12 {
  top: 30.3%;
  left: 33.5%;
  width: 100%;
}
.button__img-arrow--13 {
  top: 21%;
  left: 57.6%;
  width: 40%;
}
.button__img-arrow--14 {
  top: 21.5%;
  left: 54.5%;
  width: 43%;
}
.button__img-arrow--15 {
  top: 27.3%;
  left: 57.8%;
  width: 39%;
}
.button__img-arrow--16 {
  top: 30.5%;
  left: 59.7%;
  width: 38%;
}
.button__img-arrow--17 {
  top: 38%;
  left: 53.6%;
  width: 44%;
}

.code-title {
  margin: 20px 0;
  max-width: 690px;
}
.code-title h3 { max-width: 690px; }
.code-title span {
  color: #b620e0;
  float: right;
  cursor: pointer;
}
.code-title span:hover { opacity: 0.7; }
.code-title span:active { opacity: 0.5; }

.code-box {
  position: relative;
  background-color: #f2f4f5;
  width: 100%;
  max-width: 690px;
  padding: 40px 20px 40px 16px;
  font-size: 16px;
}

@media(max-width: 425px) {
  .button__img-arrow--1 {
    top: 24%;
    left: 40%;
    width: 68%;
  }
  .button__img-arrow--2 {
    top: 34.5%;
    left: 1.5%;
    width: 106.8%;
  }
  .button__img-arrow--3 {
    top: 25.5%;
    left: 35.5%;
    width: 64%;
  }
  .button__img-arrow--4 {
    left: 16.8%;
    width: 82%;
  }
  .button__img-arrow--5 {
    top: 32%;
    left: 5.5%;
    width: 95%;
  }
  .button__img-arrow--6 {
    top: 26%;
    left: 46%;
    width: 53%;
  }
  .button__img-arrow--7 {
    top: 16.3%;
    left: 44.5%;
    width: 54%;
  }
  .button__img-arrow--8 {
    top: 25%;
    left: 45%;
    width: 54%;
  }
  .button__img-arrow--9 {
    top: 34.5%;
    left: 10%;
    width: 91%;
  }
  .button__img-arrow--10 {
    top: 31.8%;
    width: 77.8%;
  }
  .button__img-arrow--11 {
    left: 33.5%;
    width: 65%;
  }
  .button__img-arrow--12 {
    top: 31.5%;
    left: 23.5%;
    width: 75%;
  }
  .button__img-arrow--13 { top: 27.1%; }
  .button__img-arrow--14 { top: 27%; }
  .button__img-arrow--15 {
    top: 32%;
    left: 57.9%;
  }
  .button__img-arrow--16 { top: 33.5%; }
  
  .code-box { padding: 40px 20px; }
  .code-box__text {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media(max-width: 375px) {
  .button__img-arrow--1 { top: 26%; }
  .button__img-arrow--2 { top: 35%; }
  .button__img-arrow--3 { top: 27%; }
  .button__img-arrow--5 { top: 32%; }
  .button__img-arrow--6 { top: 26.5%; }
  .button__img-arrow--7 { top: 18%; }
  .button__img-arrow--8 { top: 25%; }
  .button__img-arrow--9 { top: 35.5%; }
  .button__img-arrow--10 { top: 33.2%; }
  .button__img-arrow--12, .button__img-arrow--15 { top: 33%; }
  .button__img-arrow--13, .button__img-arrow--14 { top: 28%; }
  .button__img-arrow--16 { top: 34%; }
  .button__img-arrow--17 { top: 41%; }
}

@media(max-width: 320px) {
  .button__img-arrow--1, .button__img-arrow--8 { top: 27%; }
  .button__img-arrow--2 { top: 36.5%; }
  .button__img-arrow--3 { top: 28.5%; }
  .button__img-arrow--5 { top: 35%; }
  .button__img-arrow--6 { top: 29%; }
  .button__img-arrow--7 { top: 21%; }
  .button__img-arrow--9 { top: 36.3%; }
  .button__img-arrow--10 { top: 34%; }
  .button__img-arrow--12, .button__img-arrow--15 { top: 33.5%; }
  .button__img-arrow--13, .button__img-arrow--14 { top: 30.5%; }
  .button__img-arrow--16 { top: 36%; }
  .button__img-arrow--17 { top: 42%; }
}



/* Atom - Tab */
.tab-style-paragraph { margin: 20px 0 0 60px; }
.tab-style-paragraph--flex { display: flex; }
.tab-usage__box--1 {
  width: 720px;
  height: 256px;
}
.tab-usage__box--2 {
  width: 720px;
  height: 160px;
}
.tab-usage__box--3 {
  width: 720px;
  height: 96px;
}
.tab-usage__box-gray {
  width: 780px;
  height: 328px;
  padding: 36px 30px;
}
.tab-style__box--1 {
  width: 360px;
  height: 124px;
}
.tab-style__box--2 {
  width: 360px;
  height: 80px;
}
.tab-style__box--3 {
  width: 360px;
  height: 44px;
}
.tab-style__box--4 {
  width: 360px;
  height: 112px;
  position: relative;
}
.tab-style__box--5 {
  width: 344px;
  height: 104px;
  border-radius: 4px;
  box-shadow: 0 8px 20px 0 rgba(0, 19, 19, 0.2);
  top: 80px;
  left: 8px;
}
.tab-style__box--mt-4{ margin-top: 4px; }
.tab-style__box--mt-20{ margin-top: 20px; }
.tab-style__box-gray--1 {
  max-width: 440px;
  height: 164px;
  padding: 18px 40px 22px 40px;
}
.tab-style__box-gray--2 {
  max-width: 440px;
  height: 200px;
  padding: 39px 32px 17px 48px;
}
.tab-style__box-gray--3 {
  max-width: 440px;
  height: 266px;
  padding: 18px 40px 40px 40px;
}
.tab-box__text-block {
  margin-top: 14px;
}
.tab-box__text {
  color: #ffffff;
}
.tab-box__text--inactive {
  color: rgba(255, 255, 255, 0.54);
}
.tab-box__text--blue {
  color: #3b8ef3;
}

.tab-box__text--inactive-2 {
  color: rgba(0, 0, 0, 0.25);
}

.tab-anatomy__line {
  position: absolute;
  right: -49px;
  width: calc(57% - 150px);
  height: 1px;
  background: #b620e0;
}
.tab-anatomy__line:before{
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #b620e0;
}
.tab-anatomy__line span {
  position: absolute;
  right: -210px;
  text-align: left;
  top: -6px;
  font-size: 14px;
  width: 200px;
}
.tab-anatomy__vertical-line {
  border-left: 1px solid #b620e0;
  height: 38px;
  position: absolute;
  left: 118px;
  bottom: -18px;
}
.tab-anatomy__line--1 {
  top: 70px;
}
.tab-anatomy__line--2 {
  bottom: 40px;
}
.tab-anatomy__line--3 {
  left: 118px;
  bottom: -18px;
  width: 80%;
}

.tab-anatomy__ruler {
  position: absolute;
  top: 0;
  width: 85%;
  height: 1px;
  background: #b620e0;
}
.tab-anatomy__ruler:before,
.tab-anatomy__ruler:after {
  content: "";
  position: absolute;
  top: -4px;
  height: 9px;
  width: 1px;
  background: #b620e0;
}
.tab-anatomy__ruler:before{
  left: 0;
}
.tab-anatomy__ruler:after{
  right: 0;
}
.tab-anatomy__ruler span {
  background-color: #b620e0;
  color: #ffffff;
  font-size: 8px;
  padding: 3px;
  position: absolute;
}
.tab-anatomy__ruler--vertical {
  transform: rotate(90deg);
}
.tab-anatomy__ruler--vertical span {
  transform: rotate(-90deg);
  top: 7px;
}
.tab-anatomy__ruler--1 {
  width: 360px;
  top: 29px;
  left: 48px;
}
.tab-anatomy__ruler--1 span {
  top: -19px;
  left: 166px;
}
.tab-anatomy__ruler--2 {
  transform: rotate(90deg);
  width: calc(63.5% - 200px);
  top: 79px;
  left: 0;
}
.tab-anatomy__ruler--2 span {
  transform: rotate(-90deg);
  top: 7px;
  left: 30px;
}
.tab-anatomy__ruler--3 {
  transform: rotate(90deg);
  width: 10%;
  top: 160.5px;
  left: 17px;
}
.tab-anatomy__ruler--4 {
  transform: rotate(90deg);
  width: 10%;
  top: 139.5px;
  left: 17.5px;
}
.tab-anatomy__ruler--5 {
  transform: rotate(90deg);
  width: 10%;
  top: 203.5px;
  left: 9px;
}
.tab-anatomy__ruler--3 span,
.tab-anatomy__ruler--4 span,
.tab-anatomy__ruler--5 span {
  transform: rotate(-90deg);
  top: 7px;
  left: 15px;
}
.tab-squares {
  margin-top: 10px;
  margin-left: 60px;
}
.tab-square {
  display: flex;
  margin-top: 10px;
  color: #333333;
}
.tab-square_colored-square {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 8px;
}
.tab-square_colored-square--comb {
  background-image: linear-gradient(to top, #21af87, #3b8ef3);
}
.tab-square_colored-square--blue { background-color: #3b8ef3; }
.tab-square_colored-square--green { background-color: #18ba62; }
.tab-square_colored-square--white {
  box-shadow: 0 0 4px 0 #e0e0e0;
  background-color: #ffffff;
}

.tab__img-arrow--1 {
  top: 42%;
  left: 29%;
  width: 109%;
}
.tab__img-arrow--2 {
  top: 12.5%;
  left: 4%;
  width: 146%;
}
.tab__img-arrow--3 {
  top: 16.5%;
  left: 4%;
  width: 89.5%;
}
.tab__img-arrow--4 {
  top: 64.5%;
  left: 2%;
  width: 6.5%;
}

@media(max-width: 425px){
  .style__img--1 { width: 63%; }
  .style__img--2 { width: 66%; }
  .style__img--3 { width: 71%; }
  .style__img--4 { width: 75%; }
  .style__img--5 { width: 80%; }
  .style__img--6 { width: 83%; }

  .tab__img-arrow--1 {
    left: 20.5%;
    width: 78%;
  }
  .tab__img-arrow--2 {
    top: 17.7%;
    left: 2.8%;
    width: 95.5%;
  }
  .tab__img-arrow--3 { top: 18%; }
  .tab__img-arrow--4 { top: 63.8%; }
}

@media(max-width: 375px) {
  .tab__img-arrow--2 { top: 19.3%; }
  .tab__img-arrow--3 { top: 19%; }
  .tab__img-arrow--4 { top: 62.8%; }
}

@media(max-width: 320px) {
  .tab__img-arrow--2 { top: 21.8%; }
  .tab__img-arrow--3 { top: 21%; }
  .tab__img-arrow--4 { top: 62.6%; }
}



/* Atom - Label */
.label__img-arrow--1 {
  top: 26.8%;
  left: 40%;
  width: 92%;
}
.label__img-arrow--2 {
  top: 10%;
  left: 8.4%;
  width: 81%;
}
.label__img-arrow--3 {
  top: 27%;
  left: 50%;
  width: 100%;
}
.label__img-arrow--4 {
  top: 44.1%;
  left: 37%;
  width: 3.5%;
}
.label__img-arrow--5 {
  top: 18%;
  left: 115%;
  width: 23%;
}
.label__img-arrow--6 {
  height: 100%;
  max-height: 480px;
}

#status_section { height: 212px; }
.status {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 0.5s, opacity 1s;
}
.status.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1s;
}

.lvl-emphasis__text { font-size: 20px; }

@media(max-width: 768px){
  .lvl-emphasis-row div:nth-child(1) {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .lvl-emphasis-row div:nth-child(2) {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .lvl-emphasis-row div:nth-child(3) {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .label__img-arrow--6 { width: 45%; }

  .lvl-emphasis__text { font-size: 18px; }
}

@media(max-width: 425px){
  .label__img-arrow--1 {
    top: 30%;
    left: 31%;
    width: 68%;
  }
  .label__img-arrow--2 {
    top: 15.7%;
    left: 6%;
    width: 61.5%;
  }
  .label__img-arrow--3 {
    top: 31%;
    left: 33.5%;
    width: 63%;
  }
  .label__img-arrow--4 {
    left: 23.5%;
    width: 2.5%;
  }
  .label__img-arrow--5 {
    top: 23%;
    left: 78%;
    width: 16%;
  }

  #status_section { height: 123px; }

  .lvl-emphasis-row div:nth-child(1) {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .lvl-emphasis-row div:nth-child(2) {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .lvl-emphasis-row div:nth-child(3) {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .label__img-arrow--6 { width: 42%; }

  .lvl-emphasis__text { font-size: 16px; }
}

@media(max-width: 375px) {
  .label__img-arrow--1 { top: 31%; }
  .label__img-arrow--2 { top: 18%; }
  .label__img-arrow--3 { top: 33%; }
  .label__img-arrow--5 { top: 24%; }

  #status_section { height: 107.5px; }

  .label__img-arrow--6 { width: 58%; }
}

@media(max-width: 320px) {
  .label__img-arrow--1 { top: 33%; }
  .label__img-arrow--2 { top: 21.5%; }
  .label__img-arrow--3 { top: 34.8%; }
  .label__img-arrow--5 { top: 26%; }

  #status_section { height: 91px; }

  .lvl-emphasis-row div:nth-child(1) {
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
  }
  .lvl-emphasis-row div:nth-child(2) {
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
  }
  .lvl-emphasis-row div:nth-child(3) {
    -ms-flex: 0 0 54%;
    flex: 0 0 54%;
    max-width: 54%;
  }

  .label__img-arrow--6 { width: 88%; }

  .lvl-emphasis__text { font-size: 12px; }
}



/* Atom - Input */
.input-usage__box-gray {
  width: 780px;
  height: 328px;
  padding: 105px 47px 104px 47px;
}
.input-usage__input {
  font-weight: bold;
  color: #4b4b4b;
  background-color: transparent;
  border: none;
}
.input-usage__input::placeholder {
  color: #e7e7e7;
}
.input-usage__input:focus {
  outline: none !important;
}



/* Atom - Card */
.card__img-arrow--1 {
  top: 25%;
  left: 16%;
  width: 111%;
}
.card__img-arrow--2 {
  top: 27.5%;
  left: 8.8%;
  width: 89%;
}
.card__img-arrow--3 {
  top: 7%;
  left: 16%;
  width: 124%;
}
.card__img-arrow--4 {
  top: 6.3%;
  left: 8.5%;
  width: 91%;
}
.card__img-arrow--5 {
  top: 47%;
  left: 88%;
  width: 57%;
}
.card__img-arrow--6 {
  top: 5.8%;
  left: 8.2%;
  width: 90%;
}

#user_card_section { height: 300px; }
.user-card {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 0.5s, opacity 1s;
}
.user-card.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1s;
}
.color-indicator { max-width: 200px; border: 1px solid transparent; }
.color-indicator:hover, .color-indicator.active { border: 1px solid #3a8ff3; }
.color-indicator:active { border: 1px solid #e01111; }

@media(max-width: 425px){
  .card__img-arrow--1 {
    top: 28.5%;
    left: 13%;
    width: 86.5%;
  }
  .card__img-arrow--2 {
    top: 29.5%;
    left: 7%;
    width: 72%;
  }
  .card__img-arrow--3 {
    top: 12%;
    left: 11.5%;
    width: 88%;
  }
  .card__img-arrow--4 {
    top: 12%;
    left: 6.2%;
    width: 64%;
  }
  .card__img-arrow--5 {
    top: 47.5%;
    left: 62.5%;
    width: 37%;
  }
  .card__img-arrow--6 {
    top: 10.4%;
    left: 5.8%;
    width: 64%;
  }

  #user_card_section { height: 165px; }
}

@media(max-width: 375px) {
  .card__img-arrow--1 { top: 29.5%; }
  .card__img-arrow--2 { top: 30.5%; }
  .card__img-arrow--4 { top: 14%; }
  .card__img-arrow--6 { top: 11.7%; }
}

@media(max-width: 320px) {
  .card__img-arrow--1 { top: 30.5%; }
  .card__img-arrow--2 { top: 32.5%; }
  .card__img-arrow--4 { top: 16.8%; }
  .card__img-arrow--6 { top: 15%; }
}



/* Atom - App Bar */
.app-bar__img-arrow--1 {
  top: 46%;
  left: 25%;
  width: 108%;
}
.app-bar__img-arrow--2 {
  top: 18%;
  left: 2.2%;
  width: 89%;
}
.app-bar__img-arrow--3 {
  top: 51.5%;
  left: 16.3%;
  width: 115%;
}
.app-bar__img-arrow--4 {
  top: 19.7%;
  left: 2.2%;
  width: 89%;
}

@media(max-width: 425px){
  .app-bar__img-arrow--1 {
    left: 21%;
    width: 78%;
  }
  .app-bar__img-arrow--2 {
    top: 22.5%;
    left: 1.5%;
    width: 67%;
  }
  .app-bar__img-arrow--3 {
    top: 50.5%;
    left: 12.3%;
    width: 85%;
  }
  .app-bar__img-arrow--4 {
    top: 23.5%;
    left: 1.5%;
    width: 67%;
  }
}

@media(max-width: 375px) {
  .app-bar__img-arrow--2 { top: 24.3%; }
  .app-bar__img-arrow--4 { top: 25.3%; }
}

@media(max-width: 320px) {
  .app-bar__img-arrow--2 { top: 27%; }
  .app-bar__img-arrow--4 { top: 27.7%; }
}



/* Atom - Bottom Navigation */
.bottom-navigation__img-arrow--1 {
  top: 41%;
  left: 88%;
  width: 30%;
}
.bottom-navigation__img-arrow--2 {
  top: 21%;
  left: 4%;
  width: 120%;
}

@media(max-width: 425px){
  .bottom-navigation__img-arrow--1 {
    top: 42%;
    left: 71%;
    width: 23%;
  }
  .bottom-navigation__img-arrow--2 {
    top: 24%;
    left: 3.3%;
    width: 96%;
  }
}

@media(max-width: 375px) {
  .bottom-navigation__img-arrow--1 {
    top: 43%;
    width: 22%;
  }
  .bottom-navigation__img-arrow--2 { top: 26%; }
}

@media(max-width: 320px) {
  .bottom-navigation__img-arrow--2 { top: 27%; }
}



/* Atom - Snackbar */
.snackbar__img-arrow--1 {
  top: 26%;
  left: 22%;
  width: 105%;
}
.snackbar__img-arrow--2 {
  top: 27%;
  left: 9.5%;
  width: 80%;
}
.snackbar__img-arrow--3 {
  top: 31.5%;
  left: 3%;
  width: 65%;
}
.snackbar__img-arrow--4 {
  top: 46%;
  left: 88%;
  width: 42%;
}
.snackbar__img-arrow--5 {
  top: 27.2%;
  left: 10.7%;
  width: 80.5%;
}

@media(max-width: 425px){
  .snackbar__img-arrow--1 {
    top: 29%;
    left: 17%;
    width: 78%;
  }
  .snackbar__img-arrow--2 {
    top: 30%;
    left: 7%;
    width: 60%;
  }
  .snackbar__img-arrow--3 {
    top: 34%;
    left: 2%;
    width: 50%;
  }
  .snackbar__img-arrow--4 {
    top: 45.5%;
    left: 66%;
    width: 30%;
  }
  .snackbar__img-arrow--5 {
    top: 30.5%;
    left: 8.3%;
    width: 60%;
  }
}

@media(max-width: 375px) {
  .snackbar__img-arrow--1 { top: 30%; }
  .snackbar__img-arrow--2, .snackbar__img-arrow--5 { top: 31.5%; }
  .snackbar__img-arrow--3 { top: 35%; }
}

@media(max-width: 320px) {
  .snackbar__img-arrow--1 { top: 33%; }
  .snackbar__img-arrow--2, .snackbar__img-arrow--5 { top: 33.5%; }
  .snackbar__img-arrow--3 { top: 36%; }
}



/* Atom - Bottom Sheet */
.bottom-sheet__img-arrow--1 {
  top: 26%;
  left: 89%;
  width: 38%;
}
.bottom-sheet__img-arrow--2 {
  top: 5.6%;
  left: 2%;
  width: 95%;
}
.bottom-sheet__img-arrow--3 {
  top: 23%;
  left: 89%;
  width: 36%;
}
.bottom-sheet__img-arrow--4 {
  top: 14.5%;
  left: 1%;
  width: 135%;
}
.bottom-sheet__img-arrow--5 {
  top: 16.5%;
  left: 29%;
  width: 48%;
  opacity: 0;
  transition:  opacity 1s, visibility 0.5s, left 0.5s;
}
.anatomy-section:hover .bottom-sheet__img-arrow--5 {
  left: 112%;
  opacity: 1;
  transition: opacity 0.5s, left 1s linear;
}

@media(max-width: 425px){
  .bottom-sheet__img-arrow--1 {
    top: 28.5%;
    left: 71%;
    width: 28%;
  }
  .bottom-sheet__img-arrow--2 { top: 9%; }
  .bottom-sheet__img-arrow--3 {
    top: 27%;
    left: 71%;
    width: 28%;
  }
  .bottom-sheet__img-arrow--4 {
    top: 19.3%;
    left: 0.6%;
    width: 96%;
  }
  .bottom-sheet__img-arrow--5 {
    top: 19.5%;
    left: 18.5%;
    width: 30%;
  }
  .anatomy-section:hover .bottom-sheet__img-arrow--5 {
    left: 69%;
  }
}

@media(max-width: 375px) {
  .bottom-sheet__img-arrow--1 { top: 30%; }
  .bottom-sheet__img-arrow--2 { top: 10.3%; }
  .bottom-sheet__img-arrow--3 { top: 28%; }
  .bottom-sheet__img-arrow--4 { top: 20.5%; }
  .bottom-sheet__img-arrow--5 { top: 21%; }
}

@media(max-width: 320px) {
  .bottom-sheet__img-arrow--1 { top: 31%; }
  .bottom-sheet__img-arrow--2 { top: 12.5%; }
  .bottom-sheet__img-arrow--3 { top: 29%; }
  .bottom-sheet__img-arrow--4 { top: 23.5%; }
  .bottom-sheet__img-arrow--5 { top: 22.5%; }
}



/* Atom - Progress */
.progress__img-arrow--1 {
  top: 22.8%;
  left: 89%;
  width: 45%;
}
.progress__img-arrow--2 {
  top: 11.5%;
  left: 11.3%;
  width: 125%;
}
.progress__img-arrow--3 {
  top: 27%;
  left: 35%;
  width: 110%;
}
.progress__img-arrow--4 {
  top: 24.5%;
  left: 1.5%;
  width: 90%;
}

@media(max-width: 425px){
  .progress__img-arrow--1 {
    top: 26.8%;
    left: 67%;
    width: 33%;
  }
  .progress__img-arrow--2 {
    top: 16.5%;
    left: 7.7%;
    width: 90%;
  }
  .progress__img-arrow--3 {
    top: 31%;
    left: 29%;
    width: 70%;
  }
  .progress__img-arrow--4 {
    top: 25.8%;
    left: 1.5%;
    width: 90%;
  }
}

@media(max-width: 375px) {
  .progress__img-arrow--1 { top: 28%; }
  .progress__img-arrow--2 { top: 18.8%; }
  .progress__img-arrow--3 { top: 33%; }
  .progress__img-arrow--4 { top: 27.5%; }
}

@media(max-width: 320px) {
  .progress__img-arrow--1 { top: 30.5%; }
  .progress__img-arrow--2 { top: 22%; }
  .progress__img-arrow--4 { top: 29.5%; }
}



/* .fazz-box */
.fazz-box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #18ba62, #3b8ef3);
}
.fazz-box-gray {
  position: relative;
  background-color: #f2f4f5;
  width: 100%;
}
.fazz-box-transparent {
  position: relative;
  background-image: url("../images/bg-transparent.jpg");
  background-size: cover;
  width: 100%;
}
.fazz-box-green {
  background-color: #18ba62;
}
.fazz-box-white {
  background-color: #ffffff;
}
.fazz-box--white-lu,
.fazz-box--white-ru,
.fazz-box--blue-lu,
.fazz-box--blue-ru {
  position: relative;
}
.fazz-box--white-lu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;  
  border-bottom: 2px solid #ffffff;
}
.fazz-box--white-ru:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 50%;  
  border-bottom: 2px solid #ffffff;
}
.fazz-box--blue-lu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;  
  border-bottom: 2px solid #3b8ef3;
}
.fazz-box--blue-ru:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 50%;  
  border-bottom: 2px solid #3b8ef3;
}

.icon-circle-bordered {
  border: 2px solid #ffffff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.icon-circle-bordered:before { color: #ffffff; }

.button-usage-box {
  max-width: 375px;
  padding: 66px 62px;
}
.button-usage-box--outer {
  max-width: 375px;
  padding: 48px 30px;
}
.button-box--white {
  background-color: #ffffff;
  max-width: 315px;
  padding: 18px 28px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.button-usage-box button,
.button-usage-box--outer button,
.button-box--white > div { font-size: 18px; }

.btn { position: relative; }
.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.5s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn:active, .btn:focus {
  outline: 0;
}

.btn-primary {
  background-color: hsl(213, 88%, 59%);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: rgba(59, 142, 243, 0.8);
}
.btn-primary::before {
  transition: transform 0.5s, 0.5s border-radius 0.3s;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
  border-radius: 20%;
}
.btn-primary:active::before {
  opacity: 1;
  transform: scale(1, 1);
  border-radius: 0;
}
.btn-primary::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-primary:active::after {
  opacity: 0;
}

.btn-primary-ghost {
  background-color: transparent;
  color: #3b8ef3;
  border: 1px solid #3b8ef3;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
}
.btn-primary-ghost:hover, .btn-primary-ghost:focus {
  background-color: rgba(59, 142, 243, 0.1);
}
.btn-primary-ghost::before {
  transition: transform 0.5s, 0.5s border-radius 0.3s;
  opacity: 0;
  background: rgba(59, 142, 243, 0.1);
  transform: scale(0.1, 0.1);
  border-radius: 20%;
}
.btn-primary-ghost:active::before {
  opacity: 1;
  transform: scale(1, 1);
  border-radius: 0;
}
.btn-primary-ghost::after {
  transition: all 0.3s;
  border: 1px solid rgba(59, 142, 243, 0.3);
}
.btn-primary-ghost:active::after {
  opacity: 0;
}

.btn-text {
  background-color: transparent;
  color: #3b8ef3;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
}
.btn-text:hover, .btn-text:focus {
  background-color: rgba(59, 142, 243, 0.1);
  border: 1px solid transparent;
}
.btn-text:active { border: 1px solid rgba(59, 142, 243, 0.2); }
.btn-text::before {
  transition: transform 0.5s, 0.5s border-radius 0.3s;
  opacity: 0;
  background: rgba(59, 142, 243, 0.1);
  transform: scale(0.1, 0.1);
  border-radius: 20%;
}
.btn-text:active::before {
  opacity: 1;
  transform: scale(1, 1);
  border-radius: 0;
}
.btn-text::after {
  transition: all 0.3s;
}
.btn-text:active::after {
  opacity: 0;
}

@media(max-width: 768px) {
  .button-usage-box {
    padding: 40px 20px;
  }
  .button-usage-box--outer {
    padding: 30px 10px;
  }
  .button-box--white { padding: 10px; }
  .button-usage-box button,
  .button-usage-box--outer button,
  .button-box--white > div { font-size: 12px; }
  .btn-primary,
  .btn-primary-ghost,
  .btn-text {
    padding: 12px;
  }
}


/* Foundation - Iconography */
.icon-box {
  width: 100%;
  height: 186px;
  border: solid 1px #e5e5e5;
}
.icon-box span,
.icon-box > img {
  position: relative;
  top: 20%;
  font-size: 38px;
}
.icon-box > img {
  top: 40%;
}
.icon-box__caption {
  margin-top: 20px;
  margin-bottom: 40px;
}
.p-icons { margin-left: 35px; }

.icon-structure-section {
  margin-left: 20px;
  margin-bottom: 30px;
}
.icon-structure h4 { margin-top: 0; }
.icon-structure__img {
  margin-bottom: 10px;
  width: 100%;
  max-width: 158px;
}

.icon-group {
  position: relative;
  width: 100%;
  height: 180px;
  border: solid 1px #e5e5e5;
  padding: 34px 41px;
  overflow-wrap: break-word;
  margin-top: 20px;
  font-size: 20px;
}
.icon-group > [class^="icon-"] {
  margin-right: 8px;
  line-height: 2;
}
.icon-group .total-icon {
  border-radius: 15px;
  background-color: #f2f4f5;
  font-size: 9px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon-group-title-box {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #333333;
  color: #fff;
  padding: 12px 16px;
  font-family: 'Roboto', sans-serif !important;
}
.icon-group-title-box a{
  float: right;
  color: #3a8ff3;
  cursor: pointer;
}

@media(max-width: 768px) {
  .no-margin-mobile { margin-left: 0 !important; }
  .margin-sm-mobile { margin-left: 20px !important; }
  
  .icon-box--not-first-m {
    border-left: none;
  }

  .icon-structure-section {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .icon-structure { margin-bottom: 20px; }

  .icon-group {
    height: unset;
    padding: 34px 31px;
    font-size: 15px;
  }
  .icon-group > [class^="icon-"] {
    margin-right: 7px;
  }
}

@media(min-width: 769px) {
  .icon-box--not-first {
    border-left: none;
  }
  .icon-groups { margin-left: 20px; }
}

@media(min-width: 769px) and (max-width: 992px) {
  .icon-group {
    height: 148px;
    padding: 34px 13px;
    font-size: 18px;
  }
  .icon-group > [class^="icon-"] {
    line-height: 1.5;
  }
}

/* @media(max-width: 1280px) {
  .icon-group {
    padding: 34px 31px;
    font-size: 14px;
  }
  .icon-group > [class^="icon-"] {
    margin-right: 8px;
    line-height: 1;
  }
} */



/* Foundation - Illustration */
.illustration__title {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.illustration__point { margin-bottom: 40px; }

.pallete-title {
  margin-top: 50px;
  margin-bottom: 24px;
}
.pallete-box{
  width: 330px;
  margin-left: 15px;
}

.pallete{
  color: #fff;
  padding-top: 69px;
  padding-left: 16px;
  height: 95px;
}
.pallete:hover {
  border: 2px solid #3a8ff3;
}

@media(max-width: 1024px){
  .pallete-box{
    width: 255px;
  }
}

@media(max-width: 768px){
  .pallete-box{
    width: 200px;
  }
  .pallete-box .fazz-col-4 { 
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .pallete-box .fazz-col-8 { 
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .pallete{
    padding-left: 8px;
    font-size: 12px;
  }
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.25);
  display: none;
}

.overlay.show{
  display: block;
}



/* Foundation - Layout */
.layout__img-arrow--1 {
  top: 27.8%;
  left: 22.2%;
  width: 80.5%;
}
.layout__img-arrow--2 {
  top: 43%;
  left: 3.1%;
  width: 90%;
}

@media(max-width: 425px){
  .layout__img-arrow--1 {
    top: 28%;
    left: 18.3%;
    width: 67%;
  }
}

@media(max-width: 375px){
  .layout__img-arrow--1 { top: 28.2%; }
}

@media(max-width: 320px){
  .layout__img-arrow--1 { top: 28.5%; }
}